* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  background: #222;
  color: #fefefe;
}

h1 {
  margin: 60px 0 0;
  text-align: center;
  font-size: 3.5em;
}

h2 {
  margin: 30px 0 20px;
  text-align: center;
  font-size: 1.5em;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}

.flex-child {
  width: 40%;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: 60px auto 0;
}

.process-status {
  margin: 0 0 20px;
}

.process-status span {
  padding: 5px;
  border: 1px solid #fefefe;
  border-radius: 2px;
  font-size: 1.1em;
}

.process-status span span{
  padding: 0;
  border: none;
  border-radius: 0;
  color: #f8e29b;
  font-weight: 700;
}

.process-status span span.completed{
  color: #9bf89b;
}

.list {
  padding: 30px;
  border-radius: 3px;
  background-color: #444;
  text-align: center;
}

.list li {
  margin: 0 0 10px;
  font-size: 1.2em;
}
